body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #0a0a19;
  font-family: 'Space Grotesk', sans-serif;
}

canvas {
  display: block;
}

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  pointer-events: none;
}
